VITE_SUPABASE_URL=https://qbzkqvobjlkcwujebenm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_svEG8WkKvMd8CLomJ2WJeQ_xk59cmq3
VITE_GHL_LOCATION_ID=KsfBy6nFtoBTdzgvncgt
VITE_REQUIRE_AUTH=true
VITE_ACCESS_REQUEST_EMAIL=dries@red-pepper.be
VITE_DASHBOARD_TIMEZONE=Europe/Brussels
VITE_DASHBOARD_TITLE=Immo Beguin
VITE_DASHBOARD_SUBTITLE=Lead & Marketing Dashboard
VITE_DASHBOARD_LOGO_URL=
VITE_DASHBOARD_THEME=
