VITE_SUPABASE_URL=https://goxohudvapzvyfvozxjj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lBPHIbXe8-ymPa_bzqHI6Q_-ZrIY7IR
VITE_GHL_LOCATION_ID=wGiSm8CySOqdWbgLUleR
VITE_REQUIRE_AUTH=true
VITE_ACCESS_REQUEST_EMAIL=dries@red-pepper.be
VITE_DASHBOARD_TITLE=Recotex
VITE_DASHBOARD_SUBTITLE=Lead & Marketing Dashboard
VITE_DASHBOARD_LOGO_URL=https://www.architectenkrant.be/templates/yootheme/cache/c4/recotex-c4ef39fb.jpeg
VITE_DASHBOARD_THEME=
