GHL_LOCATION_ID=PLaZB1vgUhy4CCo3vEDi
GHL_PRIVATE_INTEGRATION_TOKEN=YOUR_GHL_PRIVATE_INTEGRATION_TOKEN
SUPABASE_URL=https://djikubaydznmgiqajfdz.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_pnU39bKxLucoGTMNfDR-tQ_izqeFmSf
SUPABASE_SECRET_KEY=YOUR_SUPABASE_SECRET_KEY
